footer#footer
  ul.icons
    li
      a(href="#", class="icon circle fa-twitter")
        span.label Twitter
    li
      a(href="#", class="icon circle fa-facebook")
        span.label Facebook
    li
      a(href="#", class="icon circle fa-google-plus")
        span.label Google+
    li
      a(href="#", class="icon circle fa-github")
        span.label Github
    li
      a(href="#", class="icon circle fa-dribbble")
        span.label Dribbble
  span.copyright &copy; Untitled. All rights reserved. Design: <a href="http://html5up.net">HTML5 UP</a>